<!-- src/main/resources/templates/index.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Головне меню</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="menu-page">
<div class="menu-container">
    <h1>Система обміну квартир</h1>
    <div class="menu-buttons">
        <a href="/applications/new" class="menu-button">Додати нову заявку</a>
        <a href="/applications" class="menu-button">Переглянути список заявок</a>
    </div>
</div>
</body>
</html>
